# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

# Logs
logs/**/*.*

# Environment variables
.env

# Other
.nyc_output
neo4j_data